<h1>Find some food!</h1>
<p>Start typing the name of your desired snack:</p>

<script type="text/javascript">
  ajax_input();
</script>
<input type="text" id="food_input"> </input>
<div id="food_list"></div>